@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* this works fine */
  .neon {
    --colors-secondaryThing-500: 144, 160, 64;
  }
}

/* this works fine */
.dark {
  --colors-secondaryThing-500: 139, 0, 0;
  --colors-primaryThing-500: 0, 0, 139;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
